<header class="chat-header chat-container__chat-header">
    <section class="chat-header__chat-data">
        <h4 class="chat-data__chat-name chat-name">
            Александр
        </h4>
        <p class="chat-data__chat-status chat-status">
            В сети
        </p>
    </section>
    <div class="options-container chat-header__options-container">
        <span class="options-container__icon material-icons">
            search
        </span>
        <span class="options-container__icon material-icons">
            call
        </span>
        <span class="options-container__icon material-icons">
            info
        </span>
        <span class="options-container__icon material-icons">
            more_vert
        </span>
    </div>
</header>
<div class="chat-area chat-container__chat-area">
    <h4 class="chat-date chat-area__chat-date">6 апреля</h4>
    <div class="chat-area__message chat-area__message_my">
        <div class="cloud message__cloud cloud_my">
            <span class="message-text cloud__message-text">
                Привет!
            </span>
            <span class="message-time cloud__message-time">
                12:37
            </span>
            <span class="ticks cloud__ticks material-icons">
                done_all
            </span>
        </div>
        <div class="message__arrow_my arrow_my"></div>
        <img src="{{staticBasePath}}images/account_circle_black_24dp.svg" class="chat-avatar message__chat-avatar" alt="Изображение человека">
    </div>
    <div class="chat-area__message chat-area__message_income">
        <img src="{{staticBasePath}}images/account_circle_black_24dp.svg" class="chat-avatar message__chat-avatar" alt="Изображение человека">
        <div class="message__arrow_income arrow_income"></div>
        <div class="cloud message__cloud cloud_income">
            <span class="message-text cloud__message-text">
                Привет!
            </span>
            <span class="message-time cloud__message-time">
                12:38
            </span>
        </div>
    </div>
    <div class="chat-area__message chat-area__message_my">
        <div class="cloud message__cloud cloud_my">
            <span class="message-text cloud__message-text">
                Когда начнём работать над проектом?
            </span>
            <span class="message-time cloud__message-time">
                12:40
            </span>
            <span class="ticks cloud__ticks material-icons">
                done_all
            </span>
        </div>
        <div class="message__arrow_my arrow_my"></div>
        <img src="{{staticBasePath}}images/account_circle_black_24dp.svg" class="chat-avatar message__chat-avatar" alt="Изображение человека">
    </div>
    <div class="chat-area__message chat-area__message_income">
        <img src="{{staticBasePath}}images/account_circle_black_24dp.svg" class="chat-avatar message__chat-avatar" alt="Изображение человека">
        <div class="message__arrow arrow_income"></div>
        <div class="cloud message__cloud cloud_income">
            <span class="message-text cloud__message-text">
                Завтра точно начнём)
            </span>
            <span class="message-time cloud__message-time">
                12:41
            </span>
        </div>
    </div>
    <div class="chat-area__message chat-area__message_my">
        <div class="cloud message__cloud cloud_my">
            <span class="message-text cloud__message-text">
                Тогда напишу завтра
            </span>
            <span class="message-time cloud__message-time">
                12:41
            </span>
            <span class="ticks cloud__ticks material-icons">
                done
            </span>
        </div>
        <div class="message__arrow_my arrow_my"></div>
        <img src="{{staticBasePath}}images/account_circle_black_24dp.svg" class="chat-avatar message__chat-avatar" alt="Изображение человека">
    </div>
    
    <h4 class="chat-date chat-area__chat-date">7 апреля</h4>
    <div class="chat-area__message chat-area__message_my">
        <div class="cloud message__cloud cloud_my">
            <span class="message-text cloud__message-text">
                Привет! Ну что, будем начинать?
            </span>
            <span class="message-time cloud__message-time">
                14:12
            </span>
            <span class="ticks cloud__ticks material-icons">
                done_all
            </span>
        </div>
        <div class="message__arrow_my arrow_my"></div>
        <img src="{{staticBasePath}}images/account_circle_black_24dp.svg" class="chat-avatar message__chat-avatar" alt="Изображение человека">
    </div>
    <div class="chat-area__message chat-area__message_income">
        <img src="{{staticBasePath}}images/account_circle_black_24dp.svg" class="chat-avatar message__chat-avatar" alt="Изображение человека">
        <div class="message__arrow_income arrow_income"></div>
        <div class="cloud message__cloud cloud_income">
            <span class="message-text cloud__message-text">
                Привет, а давай ещё недельку отдохнём... Я что-то очень устал
            </span>
            <span class="message-time cloud__message-time">
                14:15
            </span>
        </div>
    </div>
</div>