<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta charset="{{ meta.charset }}">
  <title>{{ title }}</title>
  <meta name="description" content="{{ meta.description }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ cssBundle }}" media="screen">
  <link rel="icon" href="{{ staticBasePath }}images/favicon.ico">
</head>

<body>
  <aside class="contactsListWrapper">
    {{> contact_list}}
  </aside>

  <main class="chat-container">
    {{> current_dialog }}

    {{> send_message_form }}
    {{> input_file_modal }}
  </main>

  <script src="{{ jsBundle }}"> </script>
</body>

</html>
