<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta charset="{{ meta.charset }}">
  <title>{{ title }}</title>
  <meta name="description" content="{{ meta.description }}">
  <link rel="stylesheet" href="{{ staticBasePath }}stylesheets/styles.css" media="screen">
  <link rel="icon" href="{{ staticBasePath }}favicon.ico">
</head>

<body>
  <p> {{ text }} </p>
  <div class="dogs-img-container">
    <img src="{{ staticBasePath }}images/dogs.webp" class="dogs-img" />
  </div>
</body>

</html>
