<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta charset="{{ meta.charset }}">
  <title>{{ title }}</title>
  <meta name="description" content="{{ meta.description }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ staticBasePath }}bundle.css" media="screen">
  <link rel="icon" href="{{ staticBasePath }}images/favicon.ico">
</head>

<body>
  <aside class="dialogs">
  </aside>

  <main class="current-dialog">
    <section class="current-dialog__messages">
    </section>

    {{> send_message_form }}
    {{> input_file_modal }}
  </main>

  <script src="{{ staticBasePath }}bundle.js"> </script>
</body>

</html>
