<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta charset="{{ meta.charset }}">
  <title>{{ title }}</title>
  <meta name="description" content="{{ meta.description }}">
  <link rel="stylesheet" href="{{ staticBasePath }}bundle.css" media="screen">
  <link rel="icon" href="{{ staticBasePath }}images/favicon.ico">
</head>

<body>
  <p> {{ text }} </p>
  <div class="dogs-img-container">
    <img src="{{ staticBasePath }}images/dogs.webp" class="dogs-img" />
  </div>

  <img src="{{ staticBasePath }}images/2cat.jpg" class="dogs-img" />
  <img src="{{ staticBasePath }}images/1cat.webp" class="dogs-img" />

  <script src="{{ staticBasePath }}bundle.js"> </script>
</body>

</html>
